.header-title {
  padding: 12px;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  font-size: 34px;
}
.header-bar {
  display: inline-block;
}

.header-icon {
  padding: 10px;
  display: block;
  float: right;
}